body {
  background:#f4f4f4;
  font-family: 'Karla', sans-serif;
}

.product-link-button {
  border-radius: 5px;
  background: rgb(260,100,0);
  color:#fff;
  font-size:13px;
  letter-spacing:2px;
  text-transform:uppercase;
  padding:16px 40px;
  font-weight:800;
  display:inline-block;
  transition:all .15s ease-in;
  &:hover {
    background:darken(rgb(260,100,0), 10%);
  }
}
.product-wrapper {
  position:relative;
  left:50%;
  top: 300px;
  transform:translate(-50%,-50%);
  text-align:center;
  width:100%;
}
.product-tile {
  border: 1px solid grey;
  background:#E5E5E5;
  position:relative;
  width:240px;
  display:inline-block;
  margin: 3px;
  .inner-wrap {
    padding:15px;
  }
  a {
    text-decoration:none;
  }
  .overlay {
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background:#1a1a1a;
    opacity:0;
    transition:all .15s ease-in;
  }
  .product-link-button {
    position:absolute;
    top:50%;
    left:50%;
    opacity:0;
    transform:translate(-50%, -40%);
  }
  .product-img {
    width: 150px;
    height: 150px;
    display:block;
    margin:0 auto;
  }
  &:hover {
    .overlay {
      opacity:.3;
    }
    .product-link-button {
      opacity:1;
      transform:translate(-50%, -80%);
    }
  }
}
.product-meta {
  text-align:center;
  padding-top:10px;
  position:relative;
  z-index:2;
}
.product-title {
  padding: 5px;
  margin: 0;
  font-weight:700;
  font-size:15px;
  color:#1a1a1a;
}
.product-price {
  padding: 5px 5px 0px 5px;
  margin: 0;
  display:block;
  font-size:14px;
  color:#666;
  color: #78c042;
}

.product-seller {
  padding: 5px;
  margin: 0;
  display:block;
  font-size:14px;
  color:#666;
}
