@import "font-awesome-sprockets";
@import "font-awesome";

html,body {
  height: 100%;
  margin: 0;
  background: white;
  font-family: 'Karla', sans-serif;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-weight: 200;
}
::-moz-placeholder { /* Firefox 19+ */
  font-weight: 200;
}
:-ms-input-placeholder { /* IE 10+ */
  font-weight: 200;
}
:-moz-placeholder { /* Firefox 18- */
  font-weight: 200;
}

.splash-page{
  display: flex;
  justify-content: center;
  background-image: url('http://res.cloudinary.com/dmdj7eggw/image/upload/v1478649067/Jacksonville-Barter-Exchange-Trading_pe6irf.jpg');
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 61px);
  p {
    background-color: #fff5e6;
    color: #4d0000;
    font-size: 22px;
    border-radius: 15px;
    padding: 20px;
    position: absolute;
  }
}
