header {
  padding: 0px 90px;
  height: 60px;
  border-bottom: 1px solid lightgrey;
  a {
    text-decoration: none;
  }
  position: relative;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .right-nav {
    ul {
      position: relative;
      display: flex;
      align-items: center;
      li {
        list-style: none;
        display: inline;
      }
      li > ul {
        display: none;
        position: absolute;
        margin: 0;
        right: 26px;
        top: 28px;
        padding: 5px 5px 5px 5px;
        text-align: left;
        background: white;
        border-radius: 5px;
        border: 1px solid whitesmoke;
        z-index: 2;
      }
      li:hover > ul {
        display: block;
        li {
          display: block;
          margin: 5px 0px;
        }
      }
    }
  }
}

.greeting-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
}


.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

.left-nav {
  h1 {
    font-family: "Georgia";
    color: rgb(260,100,0);
    margin: 0;
    font-weight: 400;
  }
}

.right-nav {
  a{
    list-style-type: none;
    padding: 5px 0px 5px 10px;
    color: rgb(61,144,184);
    &:hover{
      text-decoration: underline;
    }
  }
  .new-product-button {
    cursor: pointer;
    font-size: 16px;
    border: none;
    background-color: transparent;
    padding: 5px;
    color: rgb(61,144,184);
    &:hover{
      text-decoration: underline;
    }
  }
}


.header-group {
  h2 {
    color: rgb(61,144,184);
    margin: 0;
    font-size: 16px;
    font-weight: 400;
  }
}

.session-button {
  cursor: pointer;
  font-size: 16px;
  border: none;
  background-color: transparent;
  padding: 5px;
  color: rgb(61,144,184);
  &:hover{
    text-decoration: underline;
  }
}

.header-name {
  font-family: "Arial";
  padding: 5px;
  float: right;
}

.shop-cart {
  padding-left: 20px;
  opacity: .7;
  width: 30px;
  &:hover{
    cursor: pointer;
    opacity: 1;
  }
}
