.store-item-link-button {
  border-radius: 5px;
  background: rgb(260,100,0);
  color:#fff;
  font-size:12px;
  letter-spacing:2px;
  text-transform:uppercase;
  padding:10px 15px;
  font-weight:800;
  display:inline-block;
  transition:all .15s ease-in;
  &:hover {
    background:darken(rgb(260,100,0), 10%);
  }
}
.seller-store {
  width:100%;
  .store-name {
    font-weight: 600;
    padding: 5px;
    width: 100%;
    color: black;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
.store-item-tile {
  border: 1px solid grey;
  background:#E5E5E5;
  position:relative;
  width:45%;
  display:inline-block;
  margin: 3px;
  .inner-wrap {
    padding:10px;
  }
  a {
    text-decoration:none;
  }
  .overlay {
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background:#1a1a1a;
    opacity:0;
    transition:all .15s ease-in;
  }
  .store-item-link-button {
    position:absolute;
    top:50%;
    left:50%;
    opacity:0;
    transform:translate(-50%, -40%);
  }
  .store-item-img {
    width: 150px;
    height: 150px;
    display:block;
    margin:0 auto;
  }
  &:hover {
    .overlay {
      opacity:.3;
    }
    .store-item-price{
      color: green;
    }
    .store-item-link-button {
      opacity:1;
      transform:translate(-50%, -80%);
    }
  }
}
.store-item-meta {
  text-align:center;
  position:relative;
}
.store-item-title {
  padding: 5px;
  margin: 0;
  font-weight:700;
  font-size:15px;
  color:#1a1a1a;
}
.store-item-price {
  margin: 0;
  display:block;
  font-size:14px;
  color:#666;
  color: #78c042;
}
