.seller-store-container {
  .store-title {
    padding-left: 50px;
    font-weight: 400;
    font-family: 'Karla', sans-serif;
  }
  .store-item-tile {
    background: white;
    border-radius: 3px;
    width: 200px;
  }
}
